{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="static/css/style.css">
      <title>Home page</title>
</head>
<body>
<header class="headContent">
      <nav class="nav-bar">
            <div class="macro-calc">MACRO COUNTER APP</div>
                  <a href="#" class="toggle-button">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                  </a>
            <div class="nav-links" id="topNavWrapper">
                  <ul class="headTag">
                        <li><a href="">Macros</a></li>
                        <!-- {% if user.is_authenticated %} -->
                              <li><a href="">About</a></li>
                              <li><a href="">Days</a></li>
                              <li><a href="">Log Out</a></li>
                        <!-- {% else %} -->
                              <li><a href="">Sign Up</a></li>
                              <li><a href="">Log In</a></li>
                        <!-- {% endif %} -->
                  </ul>
            </div>
      </nav>
</header>
<main>
      <div class="total-wrapper" >
            <div class="total-title">
                  <h3 class="daily-total">Todays Total</h3>
            </div>
            <div class="total_macros">
                  <ul>
                        <li>Protein___</li>
                        <li>Carbs___</li>
                        <li>Fat___</li>
                  </ul>
            </div>
      </div>
      <div class="daily-goal">
            <form class="daily-goal-form" action="post">
			<div id="form-history" class="meal-form">
				<h3 class="daily-macros">Daily macros</h3>
			</div>
			<div id="meal-date" class="breakfast-form">
				<label for="expiry-month">Breakfast macros</label>
				<div id="date-val">
                              <ul>
                                    <li>Protein<input class="daily macros" maxlength="1" placeholder="" required></li>
                                    <li>Carbohydrates<input class="daily macros" maxlength="1" placeholder="" required></li>
                                    <li>Fat<input class="daily macros" maxlength="1" placeholder="" required></li>
                                    <button class="submit" type="submit">Submit</button>
                              </ul>
			</div>
                  <div id="meal-date" class="lunch-form">
				<label for="expiry-month">lunch macros</label>
				<div id="date-val">
                              <ul>
                                    <li>Protein<input class="daily macros" maxlength="1" placeholder="" required></li>
                                    <li>Carbohydrates<input class="daily macros" maxlength="1" placeholder="" required></li>
                                    <li>Fat<input class="daily macros" maxlength="1" placeholder="" required></li>
                                    <button class="submit" type="submit">Submit</button>
                              </ul>
                  </div>

                  <div id="meal-date" class="dinner-form">
				<label for="expiry-month">Dinner macros</label>
				<div id="date-val">
                              <ul>
                                    <li>Protein<input class="daily macros" maxlength="1" placeholder="" required></li>
                                    <li>Carbohydrates<input class="daily macros" maxlength="1" placeholder="" required></li>
                                    <li>Fat<input class="daily macros" maxlength="1" placeholder="" required></li>
                                    <button class="submit" type="submit">Submit</button>
                              </ul>
			</div>
		</form>
      </div>


</main>
</body>
</html>