{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>    
            {% block title %}
            {% endblock %}
      </title>
      <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
</head>
<body>
      <header class="navbar-fixed">
            <div class="title-wrapper">
                  <h2 class="app-title"> My Macro Meter</h2>
            </div>   
      <div class="nav-div">
            <nav class="nav-bar">
                  <ul class="nav-links">
                        {% if user.is_authenticated %}
                              <li><a href="{% url 'homepage' %}">Home</a></li>
                              <li><a href="{% url 'macrocreate' %}">Add macros</a></li>
                              <li><a href="{% url 'index' %}">View All Macros</a></li>
                              <li><a href="{% url 'logout' %}">Log Out</a></li>
                        {% else %}
                              <li><a href="{% url 'signup' %}">Sign Up</a></li>
                              <li><a href="{% url 'login' %}">Log In</a></li>
                        {% endif %}
                  </ul>
            </div>      
            </nav>
      </header>
      <main class="container">
            <div class="block-div">
                  {% block content %}
            </div>
      {% endblock %}
      </main>
      <footer class="page-footer">
      <div class="right">All Rights Reserved, &copy; My Macro Meter &nbsp;</div>
      </footer>
</body>
</html>


