
*,
*::before,
*::after{
      -webkit-box-sizing: border-box;
      box-sizing: border-box ;
}

body{
      margin: 0;
      padding: 0;
}

.title-wrapper{
      display: flex;
      justify-content:center;
      background-color:#FECE46;
}

.app-title{
      color: #86898A;
}

.nav-div{
      display: flex;
      justify-content:flex-end;
      padding: .4rem;
      background-color:#B84F35;
      align-items: center;
}
.nav-links{
      display: flex;
}

.nav-bar ul {
      margin: 8px;
      padding: 0;
      display: flex;
      align-items: center;
}

.nav-bar li {
      list-style: none;
}

.nav-bar li a{
      text-decoration: none;
      color: white;
      padding: .5rem;
      margin: 1rem;
      background:#528950;
      border-radius: 10px;
}

.nav-bar li :hover {
      background-color:#A7C36F;
}


/* .daily-goal-form{
      position: absolute;
      align-content: center;
      padding: 10px 20px;
      margin:2rem;
      background: beige;
      border-radius: 20px;
      margin-left: 35rem;
} */

.page-footer{
      display: flex;
      justify-content:flex-end;
      align-items: center;
}

.block-div{
      display: flex;
      background: url(diana-polekhina-OpB7gkQY9oc-unsplash.jpg);
      justify-content: center;
}

.total-wrapper{
      background: #528950;
      margin-top: 50px;
      padding: 8px;
      color: white;
      border-radius: 10px;
}

.macro-goals{
      background: #528950;
      margin-top: 50px;
      padding: 8px;
      color: white;
      border-radius: 10px;
}

.login-box{
      background: #528950;
      margin-top: 50px;
      padding: 15px;
      color: white;
      border-radius: 10px;
}

.signup-block{
      background: #528950;
      margin-top: 50px;
      padding: 15px;
      color: white;
      border-radius: 10px;
}