
*,
*::before,
*::after{
      -webkit-box-sizing: border-box;
      box-sizing: border-box ;
}

body{
      margin: 0;
      padding: 0;
}

.title-wrapper{
      display: flex;
      justify-content:center;
      background-color:#FECE46;
}

.app-title{
      color: #86898A;
      font-family: Rockwell;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 16px;
}

.nav-div{
      display: flex;
      justify-content:flex-end;
      padding: .4rem;
      background-color:#B84F35;
      align-items: center;
}
.nav-links{
      display: flex;
}

.nav-bar ul {
      margin: 8px;
      padding: 0;
      display: flex;
      align-items: center;
}

.nav-bar li {
      list-style: none;
}

.nav-bar li a{
      text-decoration: none;
      color: white;
      padding: .5rem;
      margin: 1rem;
      background:#528950;
      border-radius: 10px;
}

.nav-bar li :hover {
      background-color:#A7C36F;
}


/* .daily-goal-form{
      position: absolute;
      align-content: center;
      padding: 10px 20px;
      margin:2rem;
      background: beige;
      border-radius: 20px;
      margin-left: 35rem;
} */

.page-footer{
      display: flex;
      justify-content:flex-end;
      align-items: center;
}

.block-div{
      display: flex;
      justify-content: center;
}

.container{
      background: url(photos/forkphoto.png) no-repeat;
      height: 600px;
      background-position:center;
      background-repeat: no-repeat;
      background-size: cover;
}

.home-page{
      position: absolute;
      left: 13.19%;
      right: 59.38%;
      top: 29.88%;
      bottom: 50.88%;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 65px;
      color: #FFFFFF;
}

.total-wrapper{
      background: #528950;
      margin-top: 50px;
      padding: 8px;
      color: white;
      border-radius: 10px;
}

.total-wrapper{
      position: absolute;
      left: 34.65%;
      right: 34.58%;
      top: 23.05%;
      bottom: 20.05%;
      background: #528950;
}

.macro-goals{
      background: #528950;
      margin-top: 50px;
      padding: 8px;
      color: white;
      border-radius: 10px;
}

.macro-goals{
      position: absolute;
      left: 34.65%;
      right: 34.58%;
      top: 23.05%;
      bottom: 35.05%;
      background: #528950;
}

.login-box{
      position: absolute;
      padding: 15px;
      left: 34.65%;
      right: 34.58%;
      top: 23.05%;
      bottom: 35.05%;
      background: #528950;
}

.signup-block{
      position: absolute;
      background: #528950;
      margin-top: 50px;
      padding: 15px;
      color: white;
      border-radius: 10px;
      
}

h1{
      display: flex;
      justify-content: center;
}

.login-title{
      font-family: Roboto;
      font-style: normal;
      font-weight: 900;
      font-size: 50px;
      line-height: 16px;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      color: #FFFFFF;
}

.form-signin{
      display: flex;
      justify-content: center;
}


.daily-macros{
      display: flex;
      justify-content: center;
}

.expiry-month{
      display: flex;
      justify-content: center;
}

.goals-div{
      display: flex;
      justify-content: space-between;
}

.cals{
      border: 1px solid #528950;
      box-sizing: border-box;
      border-radius: 10px;
      border: 1px solid #528950;
      box-sizing: border-box;
      border-radius: 10px;
      padding:50px;
}

.protein{
      border: 1px solid #528950;
      box-sizing: border-box;
      border-radius: 10px;
      border: 1px solid #528950;
      box-sizing: border-box;
      border-radius: 10px;
      padding:50px;
}

.carbs{
      border: 1px solid #528950;
      box-sizing: border-box;
      border-radius: 10px;
      border: 1px solid #528950;
      box-sizing: border-box;
      border-radius: 10px;
      padding:50px;
}

.fat{
      border: 1px solid #528950;
      box-sizing: border-box;
      border-radius: 10px;
      border: 1px solid #528950;
      box-sizing: border-box;
      border-radius: 10px;
      padding:50px;
}

.index-form{
      margin-left: 150px;
      max-width: 80%;
}

.totals-div{
      border: 1px solid #528950;
      box-sizing: border-box;
      border-radius: 10px;
      border: 1px solid #528950;
      box-sizing: border-box;
      border-radius: 10px;
      display: flex;
      justify-content:space-between;
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;
}

.edit-btn{
      text-decoration: none;
      color: white;
      padding: 1rem;
      margin: 1rem;
      background:#528950;
      border-radius: 10px;
}


.delete-btn{
      text-decoration: none;
      color: white;
      padding: 1rem;
      margin: 1rem;
      background:#528950;
      border-radius: 10px;
}